
body {
    font-family: sans-serif;
    direction: rtl;
    margin: 20px;
    background: #f4f4f4;
}
section {
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
}
input, textarea, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
}
button {
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
canvas {
    display: block;
    margin: 0 auto;
}
